%h1 商品詳細
- if @product.image.present?
  = image_tag @product.image_url, :width => '30%', :height => 'auto'
%p
  = @product.name
%p
  = @product.description
%p
  = @product.display_price
= button_to '買い物かごに入れる', product_baskets_path(@product)
  