%h3.center Product Details
.collection
- if @product.image.present?
  = image_tag @product.image_url, :width => '30%', :height => 'auto'
%p
  = @product.name
%p
  = @product.description
%p
  = @product.display_price
= button_to 'Put In Basket', product_baskets_path(@product)
%br
= link_to 'Back', root_path